div.profile_container {
    margin: 30px auto;
    padding: 10px;
    /* background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 45px; */
}


div.profile_container .profile-infos {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px 0;
    max-width: 900px  !important;
    width: 100%;

    
}

div.profile_container .profile-infos .left-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
div.profile_container .profile-infos .left-content .profile-links {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    gap: 10px;
}
div.profile_container .profile-infos .left-content .profile-links a {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: var(--radius);
    max-width: 400px;
    box-shadow:var(--super-shadow);
    /* text-decoration: none;
    color: #521C0D; */
}

div.profile_container .profile-infos .profile-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
  border-radius: var(--radius);
    box-shadow:var(--super-shadow);
}

div.profile_container .profile-infos .profile-card img{
    width: 100%;
    height: 200px;
    background-color:  var(--primary-color);
    padding-top: 8px;
     border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.profile_container .profile-infos .profile-card .card-content p {
    display: flex;
    justify-content: space-between;
}

div.profile_container .profile-infos .form-container {
    margin: 0 auto !important;
}

div.profile_container .profile-infos .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}